<% 

	let PAYS = null;
	let ID_PAYS = null;
    var i=0;
    ORGANISATEURS.forEach(function(ORGANISATEUR){
	if(ORGANISATEUR.ID_COUPE_MONDE==WORLDCUP.ID){
    if(i==0){
         PAYS=ORGANISATEUR.pays.NOM;
    }
    else{
        PAYS+=' ,'+ORGANISATEUR.pays.NOM;
    };
    i++;
    };
    });

	let OPPOSE1 = null;
	let OPPOSE2 = null;
	OPPOSES.forEach(function(OPPOSE){
		if(!OPPOSE1) OPPOSE1 = OPPOSE;
        else OPPOSE2 = OPPOSE;
    });

	/*
	ASSISTES.forEach(function(ASSISTE){
		event.push(ASSISTE.MIN_ASSISTE);
	});
	*/
	var events = [];
    var eventTypes = [REMPLACEMENT_PLAYERS, REMPLACEMENT_GUARDIANS, PENALTIES, AVERTISSEMENTS, GOALS,];

    eventTypes.forEach(function(eventType){
    eventType.forEach(function(event){
        var minEvent = event.MIN_REMPLACEMENT || event.MIN_PINALTY || event.MIN_AVERTISSEMENT || event.MIN_BIT;
        events.push(minEvent);
    });
    });

	events = Array.from(new Set(events));

    events.sort(function(a, b){
    return b - a;
    });
 
%>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Match</title>	
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,700,700italic,900,900italic&amp;subset=latin,latin-ext" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open%20Sans:300,400,400italic,600,600italic,700,700italic&amp;subset=latin,latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
	<link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
	<link rel="stylesheet" type="text/css" href="assets/css/animate.css">
	<link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/chosen.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/color.css">
    <link rel="stylesheet" type="text/css" href="assets/css/costum.css">
	<link rel="stylesheet" href="assets/css/cup.css">
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
	<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
</head>
<style>

  .team-logo {
    background-color: transparent;
  }
  .wrap-show-advance-info-box .match-referee strong {
  font-size: 12px;
  font-weight: normal;
  text-transform: initial;
  letter-spacing: 0.18rem;
  color: #F2F2F2F2;
}




.product-style-1 .product-info .wrap-btn a::after, .primary .menu-item.home-icon, .center-section .wrap-search-form button, .wrap-banner .banner-link, .wrap-main-slide .slide-1 .btn-link, .wrap-main-slide .slide-3 .btn-link, .product-style-2 .product-thumnail .wrap-btn .function-link:hover, .wrap-footer-content .wrap-function-info, .wrap-newletter-footer .btn-submit, .wrap-footer-item .social-network ul li a:hover, .product-style-3 a.add-to-cart:hover, .widget.filter-widget .inline-round li a:hover, .widget.filter-widget .inline-round li a.active, .wrap-login-item .form-item .btn, .wrap-contacts .contact-box input[type="submit"], .wrap-icon-box .icon-box-item i, .aboutus-info.style-small-left .list-showups label input[type="radio"]:checked + span.check-box, .wrap-pagination-info .page-numbers li .page-number-item.current, .wrap-articles article .info a.btn-to-post:hover, .checkout-info .btn-checkout, .post-footer .comment-form fieldset.input-field input[type="submit"], .wrap-product-detail .advance-info .tab-control a.active, #review_form_wrapper #review_form .comment-form p.form-submit input[type="submit"], .wrap-product-detail .detail-info .wrap-butons .add-to-cart:hover, .wrap-product-detail .detail-info .quantity-input .btn:hover, .summary-item .btn, .choose-payment-methods .payment-method input[type="radio"]:checked + span::before, .main-info-area .right-section .wrap-icon-section.minicart .index {
  background-color: var(--bl2);
  border-radius: 7px;
}
.widget.widget-tag-clouds ul li a:hover, .product-list-style .advance-info .add-to-cart:hover, .product-style-3 a.add-to-cart:hover, .widget.filter-widget .inline-round li a:hover, .widget.filter-widget .inline-round li a.active, .wrap-pagination-info .page-numbers li .page-number-item.current, .wrap-pagination-info .page-numbers li .page-number-item:hover, .aboutus-info.style-small-left .list-showups label input[type="radio"]:checked + span.check-box, .wrap-articles article .info a.btn-to-post:hover, .wrap-footer-content .wrap-function-info .fc-info-item {
  border-color: var(--bl2) !important;
}
.product-style-1 .product-info .wrap-btn a::after, .primary .menu-item.home-icon, .center-section .wrap-search-form button, .wrap-banner .banner-link, .wrap-main-slide .slide-1 .btn-link, .wrap-main-slide .slide-3 .btn-link, .product-style-2 .product-thumnail .wrap-btn .function-link:hover, .wrap-footer-content .wrap-function-info, .wrap-newletter-footer .btn-submit, .wrap-footer-item .social-network ul li a:hover, .product-style-3 a.add-to-cart:hover, .widget.filter-widget .inline-round li a:hover, .widget.filter-widget .inline-round li a.active, .wrap-login-item .form-item .btn, .wrap-contacts .contact-box input[type="submit"], .wrap-icon-box .icon-box-item i, .aboutus-info.style-small-left .list-showups label input[type="radio"]:checked + span.check-box, .wrap-pagination-info .page-numbers li .page-number-item.current, .wrap-articles article .info a.btn-to-post:hover, .checkout-info .btn-checkout, .post-footer .comment-form fieldset.input-field input[type="submit"], .wrap-product-detail .advance-info .tab-control a.active, #review_form_wrapper #review_form .comment-form p.form-submit input[type="submit"], .wrap-product-detail .detail-info .wrap-butons .add-to-cart:hover, .wrap-product-detail .detail-info .quantity-input .btn:hover, .summary-item .btn, .choose-payment-methods .payment-method input[type="radio"]:checked + span::before, .main-info-area .right-section .wrap-icon-section.minicart .index {
  background: var(--bl2);
    background-color: var(--bl2);
}
.has-child-cate .toggle-control:hover::after, .has-child-cate .toggle-control:hover::before, .widget.filter-widget .vertical-list li a.btn-control:hover::before, .product-list-style .advance-info .add-to-cart:hover, .detail-media .flex-control-nav .owl-nav button:hover, .wrap-iten-in-cart .products-cart .quantity .quantity-input .btn:hover, .wrap-pagination-info .page-numbers li .page-number-item:hover {
  background: var(--bl2) !important;
}
.wrap-search .wrap-search-form button {
  background-color:transparent;
}
.center-section .wrap-search-form button i {
  color: #f2f2f2b3;
}
.center-section .wrap-search-form .wrap-list-cate .list-cate li.level-0 {
  color:#f2f2f2;
  background: var(--bl2);
}
.primary > .menu-item.home-icon {
	background: transparent;
}
.product .product-thumnail, .product-style-2 .product-thumnail {
  background: radial-gradient(ellipse at center, black, transparent);
}
.primary .menu-item.active a{
  color: var(--rd1);
}
sup{
    font-size: smaller;
    vertical-align: super;
}


.wrap-product-detail .advance-info{
	background-color: #080808;
	padding-top: 25px;
}
.wrap-show-advance-info-box .product.product-style-2 .product-thumnail .match .match-content {
  cursor: default;
}
.row.wrap_produits {
  background-color: #080808;
  padding: 5px;
  padding-top: 0;
  margin: 0px;
  margin-top:25px;
}
.product-list li{
	padding: 10px;
}
.product-list li .product.product-style-3 {
  padding: 0;
  margin-top: 12px;
}
.product-list li .product.product-style-3:hover{
    -webkit-box-shadow: -19px 16px 300px -57px rgba(255,0,0,1);
    -moz-box-shadow: -19px 16px 300px -57px rgba(255,0,0,1);
    box-shadow: 0px 0px 60px -50px rgb(255, 0, 0);
}
.product:hover .product-thumnail figure img {
  transform:none;
}
.product.product-style-3 .product-info {
  width: 100%;
  padding-bottom: 5px;
}
.wrap-shop-control {
  margin-top: 25px;
  background-color: #080808;
}
.wrap-shop-control .shop-title {
  font-size: 1.5rem;
  padding: 0.7rem 2.4rem;
  outline: none;
  border: none;
  color: #F2F2F2F2;
  font-weight: 500;
  border-radius: 7px 7px 7px 7px;
  background-color: transparent;
}
.change-display-mode .display-mode {
  color: #f2f2f2;
}
.change-display-mode .display-mode:hover, .change-display-mode .display-mode.active {
  color: #f2f2f2;
}
.wrap-pagination-info .result-count {
  color: #f2f2f2;
}
.wrap-pagination-info {
  border: 0px;
}
.wrap-shop-control .wrap-right {
  padding: 0.7rem 1rem;
}
.wrap-shop-control .chosen-container {
  background-color: transparent;
  border: 1px solid transparent;
}
.wrap-shop-control .chosen-container .chosen-single {
  background-color: transparent;
}
.wrap-shop-control .chosen-results li, .wrap-shop-control .chosen-single span {
  color: #f2f2f2;
}
.chosen-container .chosen-drop {
  background: black;
}
.chosen-container .chosen-results li.highlighted{
background-color: var(--bl2);
background-image: Linear-gradient (var(--bl2) 20%,var(--bl2) 90%);
color:#f2f2f2;
}
.wrap-pagination-info .page-numbers li .page-number-item:not(.current) {
  color: #f2f2f2;
  background-color: #080808;
  border: 0px;
  border-radius: 7px;
}
.left-sidebar .main-content-area {
  margin-top: -65px !important;
}
.wrap-breadcrumb ul a {
  color: #f2f2f2;
}
.wrap-breadcrumb ul span {
  color: #f2f2f2;
}
.wrap-breadcrumb ul li:not(:last-child)::after {
color: #f2f2f2;
}
.wrap-main-slide .slide-carousel .slide-info.slide-2 {
  top: 18%;
}
.product.product-style-3 .product-name span {
  color: #f2f2f2;
}
.widget .widget-title {
  color: #F2F2F2F2;
}
.widget ul li a {
  color: #F2F2F2F2;
}
.has-child-cate:not(.open) .toggle-control::after {
  background-color: #F2F2F2F2;
}
.has-child-cate .toggle-control::before {
  background-color: #F2F2F2F2;
}
.wrap-product-detail{
	min-height: 410px;
}
.wrap-product-detail .advance-info{
	margin-top: 15px;
}
.wrap-product-detail .advance-info a.tab-control-item.active{
	background: transparent;
    background-color: transparent;
	border-color: transparent;
    color: var(--rd1);
}
.wrap-product-detail .tab-contents{
	border:0px !important;
}
.wrap-product-detail .tab-contents .wrap-review-form span{
  font-size: 0rem !important;
}
.widget .list-item a i{
	margin-left:5px;
}
.widget.filter-widget .vertical-list li a:not(.btn-control)::before {
  display: none;
}
.widget.filter-widget .vertical-list li a:not(.btn-control)::after {
  display: none;
}
.widget .widget-title {
  border-bottom: 1px solid #131313d1;
}
.widget{
  margin-top:14px;
}
.widget.brand-widget{
  margin-top:25px;
}
.has-child-cate .toggle-control:hover::after, .has-child-cate .toggle-control:hover::before{
  background: var(--rd1) !important;
}
.product-widget-style .thumbnnail img {
  border: 0px;
}
.product .product-info .product-name span{
  color: #888888;
}
.product-widget-style .product-info {
  padding-top: 6px;
}


.wrap-show-advance-info-box {
  background-color: #040404d9;
  padding: 10px;
}
.wrap-show-advance-info-box .product.product-style-2 .product-thumnail .match .match-content {
  filter: drop-shadow(2px 2px 5px rgba(89, 9, 9, 0.18));
}
.wrap-show-advance-info-box .product.product-style-2:hover .product-thumnail .match .match-content {
  box-shadow: -5px 5px 50px -50px rgba(255, 0, 0, 0.28);
}
.wrap-show-advance-info-box .product.product-style-2 .product-thumnail .match .match-content {
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.wrap-show-advance-info-box:last-child {
  margin-bottom: 0px;
}
.wrap-show-advance-info-box {
  padding: 0px;
}


.drawer__content {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 44px;
  /*max-height: 800px !important;*/
}
.widget-match-key-events {
  background-color: transparent;
  padding-bottom: 20px;
  position: relative;
}
.widget-match-key-events .content {
  padding: 10px;
}
.widget-match-key-events .event {
  position: relative;
  max-height: 100px !important;
  min-height: 100px !important;
}
.widget-match-key-events .event-text.team-away {
  left: 50%;
  text-align: left;
  padding-left: 18px;
}
.widget-match-key-events .event-text.team-away, .widget-match-key-events .event-text.team-home {
  display: block;
  visibility: visible;
}
.widget-match-key-events .event-text {
  width: 50%;
  position: relative;
}

.clearfix::after, .clearfix::before {

    clear: both;
    content: "";
    display: table;

}
.widget-match-key-events .event-icon {
  z-index: 2;
  text-align: center;
  top: 50%;
  position: absolute;
  width: 100%;
  line-height: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.clearfix::after, .clearfix::before {
  clear: both;
  content: "";
  display: table;
}
.widget-match-key-events .event-text.team-away {
  text-align: left;
}
.widget-match-key-events .event-text.team-away, .widget-match-key-events .event-text.team-home {
  visibility: visible;
}
.widget-match-key-events .event-text.team-away .wrapper {
  border-left: 1px solid #d0d6d5;
  border-radius: 0px;
}
.widget-match-key-events .event-text .wrapper {
  min-height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.widget-match-key-events .event-text .text-wrapper {
  padding: 0 6px;
}
.widget-match-key-events .event-text.team-away {
  text-align: left;
}
.widget-match-key-events .event-text.team-away, .widget-match-key-events .event-text.team-home {
  visibility: visible;
}
.widget-match-key-events .event-time {
  color: #a2aaad;
}
.widget-match-key-events .event-text-additional, .widget-match-key-events .event-time {
  font-size: 12px;
}
.widget-match-key-events .event-text-additional, .widget-match-key-events .event-text-main, .widget-match-key-events .event-time {
  display: block;
  line-height: 16px;
}
.widget-match-key-events .event-text.team-away {
  text-align: left;
}
.widget-match-key-events .event-text.team-away, .widget-match-key-events .event-text.team-home {
  visibility: visible;
}
.widget-match-key-events .event-text-main {
  font-size: 14px;
  color: #081f2c;
}
.widget-match-key-events .event-text-additional, .widget-match-key-events .event-text-main, .widget-match-key-events .event-time {
  display: block;
  line-height: 16px;
}
.widget-match-key-events .event-text.team-away {
  text-align: left;
}
.widget-match-key-events .event-text.team-away, .widget-match-key-events .event-text.team-home {
  visibility: visible;
}
.widget-match-key-events .event-text-additional {
  color: #a2aaad;
}
.widget-match-key-events .event-text-additional, .widget-match-key-events .event-time {
  font-size: 12px;
}
.widget-match-key-events .event-text-additional, .widget-match-key-events .event-text-main, .widget-match-key-events .event-time {
  display: block;
  line-height: 16px;
}
.clearfix::after, .clearfix::before {
  clear: both;
  content: "";
  display: table;
}
.widget-match-key-events .event-text.team-away {
  text-align: left;
}
.widget-match-key-events .event-text.team-away, .widget-match-key-events .event-text.team-home {
  visibility: visible;
}
.widget-match-key-events .event-icon .match-event-icon {
  display: inline-block;
}
.match-event-icon.type-substitution {
 
  background-position: -181px 0;
  width: 24px;
  height: 24px;
}
.widget-match-key-events .event-icon {
  text-align: center;
  line-height: 0;
  margin-top: -10px;
}
.widget-match-key-events .wrapper {
  background: transparent;
}
.widget-match-key-events .wrapper {
  width: 120px;
  height: 75px;
  
}
.widget-match-key-events .wrapper {
  width: 110px;
  height: 75px;margin-bottom: 25px !important;
}


.widget-match-key-events .event-text.team-away .wrapper {
  border-left: 1px solid #d0d6d5;
  border-radius: 0px;
  padding-left: 10px;
}
.widget-match-key-events .event-text.team-home.clearfix .wrapper {
 border-right: 1px solid #d0d6d5;
}
.widget-match-key-events .wrapper {
  border-radius: 0px;
}
.match-event-icon.type-substitution {
  background-image: url(./assets/images/sprite.f296962c2b.png);
  background-position: -181px 0;
  width: 24px;
  height: 24px;
}
.match-event-icon.type-yellow_card {
  background-image: url(./assets/images/sprite.f296962c2b.png);
  background-position: 0 -168px;
  width: 24px;
  height: 24px;
}
.match-event-icon.type-red_card {
  background-image: url(./assets/images/sprite.f296962c2b.png);
  background-position: 140px 60px;
  width: 24px;
  height: 24px;
}
.widget-match-key-events .event-icon .match-event-score {
  display: block;
  font-size: 12px;
  letter-spacing: .04em;
  line-height: 19px;
  white-space: nowrap;
  height: 19px;
  font-weight: 400;
}
.widget-match-key-events .event-icon .match-event-icon {
  display: inline-block;
}
.match-event-icon.type-goal {
  background-image: url(./assets/images/sprite.f296962c2b.png);
  background-position: -34px -100px;
  width: 24px;
  height: 24px;
}
.widget-match-key-events .event-text-additional {
  color: #f2f2f2f2;
}
.widget-match-key-events .event-time {
  color: #c9caca;
}
.widget-match-key-events .event-text-main {
  color: var(--rd);
}
.match-event-score{
  color: #c9caca;
}


.row.info_match .product-list li .product.product-style-3 {
  padding: 0;
  margin-top: 12px;
  display: flex;
  width: 220px;
  height: 50px !important;
  min-width: 100% !important;
}
.row.info_match .product .product-thumnail{
  height: 40px;
  border-radius: 50%;
  min-height: 100% !important;
  max-width: 40px;
  max-height: 40px;
  min-height: 40px !important;
}
.row.info_match .product .product-thumnail.pays{
  border-radius: 0px;
  height: 25px;
  max-width: 25px;
  max-height: 25px;
  min-height: 25px !important;
  margin-left: 10px;
}
.row.info_match .product.product-style-3 .product-info {
  width: 100%;
  height: 50px;
  justify-content: initial;
  justify-items: flex-start;
}
.product.product-style-3 .product-info.pays{
	height: 35px;
	margin-top: -6px;
	padding-left: 15px;
}
.product.product-style-3 .product-info.pays .product-name span {
  font-weight: initial;
  font-family: initial;
}
.row.info_match .col-md-6{
	padding: 0px;
}
.row.info_match .col-md-3{
	border-right: 1px solid;
border-image: linear-gradient(to bottom, #080808, #ffffff24, #080808) 1;
}
.drawer__content {
  padding-top: 25px;
}
.row.wrap_produits:first-child {
  padding-left: 25px;
}
.product-list.grid-products.equal-container{
	display: grid;
}
.wrap-product-detail .advance-info .tab-control, .wrap-product-detail .advance-info .tab-contents {
  float: none;
}
.wrap-show-advance-info-box .product.product-style-2 .product-thumnail .match .match-content {
  filter: none;
}
.main-content-area .col_match {
	padding: 0px;
}
.main-content-area .col_match .rslt{
	background-color: #080808;
	border-radius: 0px;
}
.main-content-area .col_match .wrap-show-advance-info-box.style-1 .product.product-style-2 .match-content {
  background-color: transparent;
}
.main-content-area .col_match .product .product-thumnail, .product-style-2 .product-thumnail {
  background: transparent;
}
.widget-match-key-events .event-text .text-wrapper {
  padding: 0px;
}

</style>
<body class="home-page home-01">
    
	<!-- mobile menu -->
    <div class="mercado-clone-wrap">
        <div class="mercado-panels-actions-wrap">
            <a class="mercado-close-btn mercado-close-panels" href="#">x</a>
        </div>
        <div class="mercado-panels"></div>
    </div>
	<!-- mobile menu -->

	<!--header-->
	<header id="header" class="header header-style-1">
		<div class="container-fluid">
			<div class="row">
				<div class="topbar-menu-area">
					<div class="container">
						<div class="topbar-menu left-menu">
							<ul>
								<li class="menu-item" >
									<a title="Hotline: (+123) 456 789" href="#" id="calendar_btn"><%= new Date().toLocaleDateString('en-US', {month: 'long', day: 'numeric', year: 'numeric'}) %></a>
								</li>
							</ul>
						</div>
						<div class="topbar-menu right-menu">
							<ul>
								<li class="menu-item" ><a title="Register or Login" href="#" id="login_btn">Login</a></li>
								<li class="menu-item" ><a title="Register or Login" href="#" id="register_btn">Register</a></li>
								<li class="menu-item lang-menu menu-item-has-children parent" style="z-index:10;">
									<a title="English" href="#"><span class="img label-before"><img src="assets/images/lang-en.png" alt="lang-en"></span>English<i class="fa fa-angle-down" aria-hidden="true"></i></a>
									<ul class="submenu lang" >
										<li class="menu-item" ><a title="hungary" href="#"><span class="img label-before"><img src="assets/images/lang-hun.png" alt="lang-hun"></span>Hungary</a></li>
										<li class="menu-item" ><a title="german" href="#"><span class="img label-before"><img src="assets/images/lang-ger.png" alt="lang-ger" ></span>German</a></li>
										<li class="menu-item" ><a title="french" href="#"><span class="img label-before"><img src="assets/images/lang-fra.png" alt="lang-fre"></span>French</a></li>
										<li class="menu-item" ><a title="canada" href="#"><span class="img label-before"><img src="assets/images/lang-can.png" alt="lang-can"></span>Canada</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="container">
					<div class="mid-section main-info-area">
						<div class="wrap-logo-top left-section">
							<a href="index.html" class="link-to-home"><img src="assets/images/qtr.png" alt="mercado"></a>
						</div>
						<div class="wrap-search center-section">
							<div class="wrap-search-form">
								<form action="/search" method="get" id="form-search-top" name="form-search-top">
									<input type="text" name="by" value="" placeholder="Search here...">
									<button id="serach-button" form="form-search-top" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
									<div class="wrap-list-cate">
										<a href="#" class="link-control">All Category</a>
										<ul class="list-cate">
											<li class="level-0">All Category</li>
											<li class="level-1" value="Countries">- Countries</li>  <!--matchs aussi-->
											<li class="level-2">Batteries & Chargens</li>
											<li class="level-2">Headphone & Headsets</li>
											<li class="level-2">Mp3 Player & Acessories</li>
											<li class="level-1">- Players</li>
											<li class="level-2">Batteries & Chargens</li>
											<li class="level-2">Mp3 Player & Headphones</li>
											<li class="level-2">Table & Accessories</li>
											<li class="level-1">- World Cups</li>
											<li class="level-2">Batteries & Chargens</li>
											<li class="level-2">Headphone & Headsets</li>
											<li class="level-2">Mp3 Player & Acessories</li>
										</ul>
										<input type="hidden" name="in" value="" id="product-cate">
									</div>
								</form>
							</div>
						</div>
						<div class="wrap-icon right-section">
							<div class="wrap-icon-section show-up-after-1024">
								<a href="#" class="mobile-navigation">
									<span></span>
									<span></span>
									<span></span>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="nav-section header-sticky">
					<div class="primary-nav-section">
						<div class="container">
							<ul class="nav primary clone-main-menu" id="mercado_main" data-menuname="Main menu" >
								<li class="menu-item active">
									<a href="/" class="link-term mercado-item-title">Home</i></a>
								</li>
								<li class="menu-item">
									<a href="about-us.html" class="link-term mercado-item-title">Previews</a>
								</li>
								<li class="menu-item">
									<a href="shop.html" class="link-term mercado-item-title">Statistics</a>
								</li>
								<li class="menu-item">
									<a href="cart.html" class="link-term mercado-item-title">World Cups</a>
								</li>
								<li class="menu-item">
									<a href="checkout.html" class="link-term mercado-item-title">News</a>
								</li>
								<li class="menu-item">
									<a href="contact-us.html" class="link-term mercado-item-title">Contact Us</a>
								</li>																	
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!--header-->

	<!--main area-->
	<main id="main" class="main-site left-sidebar">

		<div class="container">

			<div class="wrap-breadcrumb">
				<ul>
					<li class="item-link"><a href="#" class="link">Squads</a></li>
					<li class="item-link"><span>France</span></li>
				</ul>
			</div>
			<div class="row">

			<div class="col-lg-9 col-md-8 col-sm-8 col-xs-12 main-content-area">
				
			<div class="col-xs-12 col-sm-12 col-md-12 col_match">
			<div class="wrap-show-advance-info-box style-1 rslt">
				<div class="wrap-products wrap-content">
					<div class="wrap-product-tab tab-style-1">						
						<div class="tab-contents wrap-content">
							<div class="tab-content-item active" id="digital_1a">
								<div class="wrap-products slide-carousel">
									
									<div class="product product-style-2 equal-elem col-xs-12 col-sm-12 col-md-12">
										<div class="product-thumnail">
										<div class="match">
						
						<div class="match-content">
								<div class="column">
									<a href="/country?id=<%= OPPOSE1.pays.ID%>" class="team team--home">
										<h2 class="team-name"><%= OPPOSE1.pays.NOM%></h2>
										<div class="team-logo">
											<img src="./assets/country-flags/png-1024/<%= OPPOSE1.pays.DRAPAU%>" />
										</div>
										
									</a>
								</div>
								<div class="column">
									<div class="match-details">
									<div class="match-date">
										<%= MATCH.DATE_MATCH%> <strong><%= MATCH.HORAIRE_MATCH%></strong>
					                </div>
										<div class="match-score">
											<span class="match-score-number match-score-number--leading"><%= OPPOSE1.RESULTAT%></span>
											<span class="match-score-divider">:</span>
											<span class="match-score-number"><%= OPPOSE2.RESULTAT%></span>
										</div>
										<div class="match-referee lbl">
											Stadium
										</div>
										<div class="match-referee">
											<strong><%= MATCH.stade.NOM%></strong>
										</div>
										
									</div>
								</div>
								<div class="column">
									<a href="/country?id=<%= OPPOSE2.pays.ID%>" class="team team--away">
										<h2 class="team-name"><%= OPPOSE2.pays.NOM%></h2>
										<div class="team-logo">
											<img src="./assets/country-flags/png-1024/<%= OPPOSE2.pays.DRAPAU%>"/>
										</div>
									</a>
								</div>
						</div>

					                    </div>
										</div>
									</div>
								</div>
							</div>							
						</div>
					</div>
				</div>
			</div>		
			<!--players wrap-->	
			</div>
			<!--slide-->

			        <div class="wrap-product-detail">
				        <div class="advance-info">
					        <div class="tab-control normal">
					        	<a href="#description" class="tab-control-item active"><%= OPPOSE1.pays.NOM%> played against <%= OPPOSE2.pays.NOM%></a>
					        </div>
					        <div class="tab-contents">
						        <div class="tab-content-item active" id="description">
									<p><%= OPPOSE1.pays.NOM%> will play <%= OPPOSE2.pays.NOM%> in the World Cup final after a hard-fought victory over Morocco. Morocco has been a revelation claiming big football scalps on their way to the semi-final, becoming the first African nation to reach this late stage of the tournament. </p>									
								</div>
					        </div>
							<div class="row info_match">
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
			<div class="row wrap_produits">
				<ul class="product-list grid-products equal-container">
					<li class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
						<div class="product product-style-3 equal-elem ">
								<div class="product-thumnail pays">
									<a href="/country?id=<%= OPPOSE1.pays.ID%>" title="T-Shirt Raw Hem Organic Boro Constrast Denim">
										<figure><img src="./assets/country-flags/png-1024/<%= OPPOSE1.pays.DRAPAU%>" width="800" height="800" alt="T-Shirt Raw Hem Organic Boro Constrast Denim"></figure>
									</a>
								</div>
								<div class="product-info pays">
									<a href="/country?id=<%= OPPOSE1.pays.ID%>" class="product-name"><span><%= OPPOSE1.pays.NOM%></span></a>
									<div class="wrap-price">
										<del>
										</del>
									</div>
								</div>
							</div>
					</li>
					<% 
					PLAYERS.forEach(function(PLAYER_MATCH){
					if((PLAYER_MATCH.joueur.ID_PAYS==OPPOSE1.pays.ID)&&(PLAYER_MATCH.MIN_ENTREE==0)){
					 %>
					<li class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
						<div class="product product-style-3 equal-elem ">
								<div class="product-thumnail">
									<a href="/player?id=<%= PLAYER_MATCH.joueur.ID%>" title="T-Shirt Raw Hem Organic Boro Constrast Denim">
										<figure><img src="assets/images/players/<%= PLAYER_MATCH.joueur.IMAGE%>" width="800" height="800" alt="T-Shirt Raw Hem Organic Boro Constrast Denim"></figure>
									</a>
									<!--
									<div class="group-flash">
										<span class="flash-item bestseller-label"><img src="assets/images/lang-fra.png" alt="lang-hun"></span>
									</div>
									-->
								</div>
								<div class="product-info">
									<a href="/player?id=<%= PLAYER_MATCH.joueur.ID%>" class="product-name"><span><%= PLAYER_MATCH.joueur.NOM%></span></a>
									<div class="wrap-price">
										<del>
										</del>
									</div>
								</div>
							</div>
					</li>
					<%
				        };
						}); 
					%>
					<% 
					GUARDIANS.forEach(function(GUARDIAN_MATCH){
					if((GUARDIAN_MATCH.gardien.ID_PAYS==OPPOSE1.pays.ID)&&(GUARDIAN_MATCH.MIN_ENTREE==0)){
					 %>
					<li class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
						<div class="product product-style-3 equal-elem ">
								<div class="product-thumnail">
									<a href="/guardian?id=<%= GUARDIAN_MATCH.gardien.ID%>" title="T-Shirt Raw Hem Organic Boro Constrast Denim">
										<figure><img src="assets/images/guardians/<%= (GUARDIAN_MATCH.gardien.IMAGE) ? GUARDIAN_MATCH.gardien.IMAGE : 'Inconnu.png' %>" width="800" height="800" alt="T-Shirt Raw Hem Organic Boro Constrast Denim"></figure>
									</a>
									<!--
									<div class="group-flash">
										<span class="flash-item bestseller-label"><img src="assets/images/lang-fra.png" alt="lang-hun"></span>
									</div>
									-->
								</div>
								<div class="product-info">
									<a href="/guardian?id=<%= GUARDIAN_MATCH.gardien.ID%>" class="product-name"><span><%= GUARDIAN_MATCH.gardien.NOM%></span></a>
									<div class="wrap-price">
										<del>
										</del>
									</div>
								</div>
							</div>
					</li>
					<%
				        };
						}); 
					%>
				</ul>

			</div>
        </div>
    </div>
    </div>
    <div class="col-md-3">
	<div class="card">
	  <div class="card-body">
		  <div class="row wrap_produits">
			  <ul class="product-list grid-products equal-container">
				<li class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
					<div class="product product-style-3 equal-elem ">
							<div class="product-thumnail pays">
								<a href="/country?id=<%= OPPOSE2.pays.ID%>" title="T-Shirt Raw Hem Organic Boro Constrast Denim">
									<figure><img src="./assets/country-flags/png-1024/<%= OPPOSE2.pays.DRAPAU%>" width="800" height="800" alt="T-Shirt Raw Hem Organic Boro Constrast Denim"></figure>
								</a>
								<!--
								<div class="group-flash">
									<span class="flash-item bestseller-label"><img src="assets/images/lang-fra.png" alt="lang-hun"></span>
								</div>
								-->
							</div>
							<div class="product-info pays">
								<a href="/country?id=<%= OPPOSE2.pays.ID%>" class="product-name"><span><%= OPPOSE2.pays.NOM%></span></a>
								<div class="wrap-price">
									<del>
									</del>
								</div>
							</div>
						</div>
				</li>
				<% 
				PLAYERS.forEach(function(PLAYER_MATCH){
				if((PLAYER_MATCH.joueur.ID_PAYS==OPPOSE2.pays.ID)&&(PLAYER_MATCH.MIN_ENTREE==0)){
				 %>
				  <li class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
					  <div class="product product-style-3 equal-elem ">
							  <div class="product-thumnail">
								  <a href="/player?id=<%= PLAYER_MATCH.joueur.ID%>" title="T-Shirt Raw Hem Organic Boro Constrast Denim">
									  <figure><img src="assets/images/players/<%= (PLAYER_MATCH.joueur.IMAGE) ? PLAYER_MATCH.joueur.IMAGE : 'Inconnu.png' %>" width="800" height="800" alt="T-Shirt Raw Hem Organic Boro Constrast Denim"></figure>
								  </a>
								  <!--
								  <div class="group-flash">
									  <span class="flash-item bestseller-label"><img src="assets/images/lang-fra.png" alt="lang-hun"></span>
								  </div>
								  -->
							  </div>
							  <div class="product-info">
								  <a href="/player?id=<%= PLAYER_MATCH.joueur.ID%>" class="product-name"><span><%= PLAYER_MATCH.joueur.NOM%></span></a>
								  <div class="wrap-price">
									  <del>
									  </del>
								  </div>
							  </div>
						  </div>
				  </li>
				  <%
				        };
						}); 
					%>
					<% 
					GUARDIANS.forEach(function(GUARDIAN_MATCH){
					if((GUARDIAN_MATCH.gardien.ID_PAYS==OPPOSE2.pays.ID)&&(GUARDIAN_MATCH.MIN_ENTREE==0)){
					 %>
					<li class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
						<div class="product product-style-3 equal-elem ">
								<div class="product-thumnail">
									<a href="/guardian?id=<%= GUARDIAN_MATCH.gardien.ID%>" title="T-Shirt Raw Hem Organic Boro Constrast Denim">
										<figure><img src="assets/images/guardians/<%= (GUARDIAN_MATCH.gardien.IMAGE) ? GUARDIAN_MATCH.gardien.IMAGE : 'Inconnu.png' %>" width="800" height="800" alt="T-Shirt Raw Hem Organic Boro Constrast Denim"></figure>
									</a>
									<!--
									<div class="group-flash">
										<span class="flash-item bestseller-label"><img src="assets/images/lang-fra.png" alt="lang-hun"></span>
									</div>
									-->
								</div>
								<div class="product-info">
									<a href="/guardian?id=<%= GUARDIAN_MATCH.gardien.ID%>" class="product-name"><span><%= GUARDIAN_MATCH.gardien.NOM%></span></a>
									<div class="wrap-price">
										<del>
										</del>
									</div>
								</div>
							</div>
					</li>
					<%
				        };
						}); 
					%>
			  </ul>

		  </div>
	  </div>
  </div>
    </div>
    <div class="col-md-6">
	<div class="card">
	  <div class="card-body">
      <div class="drawer drawer--opened">
        <div class="drawer__content">
		 <div class="widget-match-key-events in-drawer">
		   <div class="content">

			<% 
			k=0;
			l=0;
			PENALTIES.forEach(function(PENALTIE){ 
				if(PENALTIE.ID_TYPE_PENALTY==2){
                    if(PENALTIE.joueur.ID_PAYS==OPPOSE1.pays.ID){
					GOALS.forEach(function(GOAL){ 
						if((GOAL.joueur.ID==PENALTIE.joueur.ID) && (GOAL.MIN_BIT==null)){
							k++;
						};
					});
				    };
					if(PENALTIE.joueur.ID_PAYS==OPPOSE2.pays.ID){
					GOALS.forEach(function(GOAL){ 
						if((GOAL.joueur.ID==PENALTIE.joueur.ID) && (GOAL.MIN_BIT==null)){
							l++;
						};
					});
					};
				};
			});
			m=k;
			n=l;
			i=k;
			j=l;
			h=0;
			g=0;
			PENALTIES.forEach(function(PENALTIE){ 
			if(PENALTIE.ID_TYPE_PENALTY==2){
			%>
			<div class="event">
				<%
				if(PENALTIE.joueur.ID_PAYS==OPPOSE1.pays.ID){
					f=0;
					GOALS.forEach(function(GOAL){ 
						if((GOAL.joueur.ID==PENALTIE.joueur.ID) && (GOAL.MIN_BIT==null)){
							h=1;
						};
					});
				%>
				<div class="event-text team-home clearfix">
				<%
				};
				if(PENALTIE.joueur.ID_PAYS==OPPOSE2.pays.ID){
					f=0;
					GOALS.forEach(function(GOAL){ 
						if((GOAL.joueur.ID==PENALTIE.joueur.ID) && (GOAL.MIN_BIT==null)){
							g=1;
						};
					});
				%>
				<div class="event-text team-away clearfix">
				<%
				};
				%>
				<div class="wrapper">
					<div class="text-wrapper">				  
						  <div class="event-time">
							Penalty Shootout
						  </div>				  
						  <div class="event-text-main">
							<%= PENALTIE.joueur.NOM %>
						  </div>				  
					</div>
				</div>
			</div>
			<div class="event-icon">

				<div class="match-event-score">
					( <%=i%> - <%=j%> )
				</div>
				<%
								if(h==1){
									i--;
									h=0;
								};
								if(g==1){
								
								j--;g=0;
							    };
				%>
			<div class="match-event-icon type-goal"></div>
			
			</div>
	        </div>
			<% 
			};
		    }); %>

	       <% i=OPPOSE1.RESULTAT;j=OPPOSE2.RESULTAT;k=0;l=0;events.forEach(function(event){%>

			    <% REMPLACEMENT_PLAYERS.forEach(function(REMPLACEMENT_PLAYER){ 
					if(REMPLACEMENT_PLAYER.MIN_REMPLACEMENT==event){						
						%>
						<div class="event">
							<%
							if(REMPLACEMENT_PLAYER.joueur.ID_PAYS==OPPOSE1.pays.ID){
							%>
							<div class="event-text team-home clearfix">
							<%
							};
							if(REMPLACEMENT_PLAYER.joueur.ID_PAYS==OPPOSE2.pays.ID){
							%>
							<div class="event-text team-away clearfix">
							<%
							};
							%>
							  <div class="wrapper">
								<div class="text-wrapper">
								  
									  <div class="event-time">
										<%=event%>'
									  </div>
									
								  
									  <div class="event-text-main">
										<%= REMPLACEMENT_PLAYER.joueur.NOM %>
									  </div>
									
								  
									  <div class="event-text-additional">
										<%= REMPLACEMENT_PLAYER.remplacant.NOM %>
									  </div>
														  
								</div>
							  </div>
							</div>
					        <div class="event-icon">
						     <div class="match-event-icon type-substitution"></div>
					    </div>
					    </div>
						<%	
					};
                }); 
				%>
				
				<% REMPLACEMENT_GUARDIANS.forEach(function(REMPLACEMENT_GUARDIAN){ 
					if(REMPLACEMENT_GUARDIAN.MIN_REMPLACEMENT==event){
						%>
						<div class="event">
							<%
							if(REMPLACEMENT_GUARDIAN.gardien.ID_PAYS==OPPOSE1.pays.ID){
							%>
							<div class="event-text team-home clearfix">
							<%
							};
							if(REMPLACEMENT_GUARDIAN.gardien.ID_PAYS==OPPOSE2.pays.ID){
							%>
							<div class="event-text team-away clearfix">
							<%
							};
							%>
							  <div class="wrapper">
								<div class="text-wrapper">
								  
									  <div class="event-time">
										<%=event%>'
									  </div>
									
								  
									  <div class="event-text-main">
										<%= REMPLACEMENT_GUARDIAN.gardien.NOM %>
									  </div>
									
								  
									  <div class="event-text-additional">
										<%= REMPLACEMENT_GUARDIAN.remplacant.NOM %>
									  </div>
														  
								</div>
							  </div>
							</div>
					        <div class="event-icon">
						     <div class="match-event-icon type-substitution"></div>
					    </div>
					    </div>
						<%
					};
			    }); 
				%>

				<% PENALTIES.forEach(function(PENALTIE){ %>

				<% }); %>

				<% AVERTISSEMENTS.forEach(function(AVERTISSEMENT){
					if(AVERTISSEMENT.MIN_AVERTISSEMENT==event){
					%>
					<div class="event">
							<%
							if(AVERTISSEMENT.joueur.ID_PAYS==OPPOSE1.pays.ID){
							%>
							<div class="event-text team-home clearfix">
							<%
							};
							if(AVERTISSEMENT.joueur.ID_PAYS==OPPOSE2.pays.ID){
							%>
							<div class="event-text team-away clearfix">
							<%
							};
							%>
						    <div class="wrapper">
							<div class="text-wrapper">
							  
								  <div class="event-time">
									<%=event%>'
								  </div>
								
							  
								  <div class="event-text-main">
									<%= AVERTISSEMENT.joueur.NOM %>
								  </div>
													  
							</div>
						    </div>
						</div>
				        <div class="event-icon">
					    <%
						if(AVERTISSEMENT.ID_TYPE_CARTE==1){
						%>
					    <div class="match-event-icon type-yellow_card"></div> 
						<%
						};
						if(AVERTISSEMENT.ID_TYPE_CARTE==2){
						%>
						<div class="match-event-icon type-red_card"></div> 
						<%
						};
						%>
				        </div>
				   </div>
					<%
				    }; 
			    }); 
				%>

				<% GOALS.forEach(function(GOAL){ 
					if((GOAL.MIN_BIT==event) && (GOAL.MIN_BIT!=null)){
						%>
						<div class="event">
								<%
								if(GOAL.joueur.ID_PAYS==OPPOSE1.pays.ID){
								
									
								k++;
								%>
								<div class="event-text team-home clearfix">
								<%
								};
								if(GOAL.joueur.ID_PAYS==OPPOSE2.pays.ID){
								
								
								l++;
								%>
								<div class="event-text team-away clearfix">
								<%
								};
								%>
								<div class="wrapper">
									<div class="text-wrapper">
									  
										  <div class="event-time">
											<%=event%>'
										  </div>
										
									  
										  <div class="event-text-main">
											<%= GOAL.joueur.NOM %>
										  </div>
										
									  
										  <div class="event-text-additional">
											<% ASSISTES.forEach(function(ASSISTE){
												if((ASSISTE.ID_MARQUANT==GOAL.joueur.ID)&&(ASSISTE.MIN_ASSISTE==event)){
											%>
											<%=ASSISTE.marquant.NOM%>
											<%
										    };
										    });
											%>
											<% PENALTIES.forEach(function(PENALTY){
												if((PENALTY.ID_JOUEUR==GOAL.joueur.ID)&&(PENALTY.MIN_PINALTY==event)){
											%>
											(Penalty)
											<%
										    };
										    });
											%>
										  </div>
															  
									</div>
								</div>
							</div>
							<div class="event-icon">
	  
								<div class="match-event-score">
									<%=i%> - <%=j%> 
								</div>
								<%
								if(GOAL.joueur.ID_PAYS==OPPOSE1.pays.ID){
									i--;
								};
								if(GOAL.joueur.ID_PAYS==OPPOSE2.pays.ID){
								
								j--;
							    };
								%>
							<div class="match-event-icon type-goal"></div>
							
						    </div>
					   </div>
						<%
						};
				}); 
				%>

	       <% }); %>
    
    </div>
    </div>
    </div> 
  </div>
</div>
	</div>
    </div>
                            </div>
				        </div>
		        	</div>

				</div><!--end main products area-->

				<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 sitebar">
					<div class="widget mercado-widget categories-widget">
                        
						<a href="/worldcup?wc=<%= WORLDCUP.ID%>" class="widget-title">World Cup <%= WORLDCUP.EDDITION%><sup>nd</sup> in <%= PAYS%></a>
						<div class="widget-content">
							<ul class="list-category">
                                <li class="category-item">
									<a href="#" class="cate-link">Squads</a>
								</li>
								<li class="category-item has-child-cate">
									<a href="/groups" class="cate-link">Groups</a>
									<span class="toggle-control">+</span>
									<ul class="sub-cate">
										<li class="category-item"><a href="#" class="cate-link">Batteries (22)</a></li>
										<li class="category-item"><a href="#" class="cate-link">Headsets (16)</a></li>
										<li class="category-item"><a href="#" class="cate-link">Screen (28)</a></li>
									</ul>
								</li>
								<li class="category-item has-child-cate">
									<a href="#" class="cate-link">Rounds</a>
									<span class="toggle-control">+</span>
									<ul class="sub-cate">
										<li class="category-item"><a href="#" class="cate-link">Batteries (22)</a></li>
										<li class="category-item"><a href="#" class="cate-link">Headsets (16)</a></li>
										<li class="category-item"><a href="#" class="cate-link">Screen (28)</a></li>
									</ul>
								</li>
								<li class="category-item">
									<a href="#" class="cate-link">Statistics</a>
								</li>
								<li class="category-item">
									<a href="#" class="cate-link">Awards</a>
								</li>
								<li class="category-item">
									<a href="#" class="cate-link">Sponsorship</a>
								</li>
								<li class="category-item">
									<a href="#" class="cate-link">Music</a>
								</li>
							</ul>
						</div>
					</div><!-- Categories widget-->

					

					<div class="widget mercado-widget widget-product">
						<h2 class="widget-title">Other Matches</h2>
						<div class="widget-content">
							<ul class="products">
								<li class="product-item">
									<div class="product product-widget-style">
										<div class="thumbnnail">
											<a href="detail.html" title="Radiant-360 R6 Wireless Omnidirectional Speaker [White]">
												<figure><img src="assets/images/country-flags/png-1024/american-32917.png" alt=""></figure>
											</a>
										</div>
										<div class="product-info">
											<a href="#" class="product-name"><span>In the group stage of the tournament, the French national team was placed in Group F.</span></a>
										</div>
									</div>
								</li>

								<li class="product-item">
									<div class="product product-widget-style">
										<div class="thumbnnail">
											<a href="detail.html" title="Radiant-360 R6 Wireless Omnidirectional Speaker [White]">
												<figure><img src="assets/images/country-flags/png-1024/argentina-32919.png" alt=""></figure>
											</a>
										</div>
										<div class="product-info">
											<a href="#" class="product-name"><span>In the group stage of the tournament, the French national team was placed in Group F.</span></a>
										</div>
									</div>
								</li>

								<li class="product-item">
									<div class="product product-widget-style">
										<div class="thumbnnail">
											<a href="detail.html" title="Radiant-360 R6 Wireless Omnidirectional Speaker [White]">
												<figure><img src="assets/images/country-flags/png-1024/morocco-33027.png" alt=""></figure>
											</a>
										</div>
										<div class="product-info">
											<a href="#" class="product-name"><span>In the group stage of the tournament, the French national team was placed in Group F.</span></a>
										</div>
									</div>
								</li>

								<li class="product-item">
									<div class="product product-widget-style">
										<div class="thumbnnail">
											<a href="detail.html" title="Radiant-360 R6 Wireless Omnidirectional Speaker [White]">
												<figure><img src="assets/images/country-flags/png-1024/greenland-33003.png" alt=""></figure>
											</a>
										</div>
										<div class="product-info">
											<a href="#" class="product-name"><span>In the group stage of the tournament, the French national team was placed in Group F.</span></a>
										</div>
									</div>
								</li>

							</ul>
						</div>
					</div><!-- brand widget-->

					<div class="widget mercado-widget filter-widget brand-widget">
						<h2 class="widget-title">World Cups</h2>
						<div class="widget-content">
							<ul class="list-style vertical-list list-limited" data-show="2">
								<%
					            WORLDCUPS.forEach(function(WC){
									let PAYS = null;
									let ID_PAYS = null;
									var i=0;
									ORGANISATEURS.forEach(function(ORGANISATEUR){
									if(ORGANISATEUR.ID_COUPE_MONDE==WC.ID){
									if(i==0){
										 PAYS=ORGANISATEUR.pays.NOM;
									}
									else{
										PAYS+=' , '+ORGANISATEUR.pays.NOM;
									};
									i++;
									};
									});
				                %>
								<li class="list-item <%= (WC.ID != WORLDCUP.ID) ? 'default-hiden' : '' %>"><a class="filter-link <%= (WC.ID == WORLDCUP.ID) ? 'active' : '' %>" href="/worldcup?wc=<%= WC.ID%>">World Cup <%= WC.EDDITION%><sup>nd</sup> in <%=PAYS%></a></li>
								<%
								});
				                %>
								<li class="list-item"><a data-label='Show less<i class="fa fa-angle-up" aria-hidden="true"></i>' class="btn-control control-show-more" href="#">Show more<i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div><!-- brand widget-->

				</div><!--end sitebar-->

			</div><!--end row-->

		</div><!--end container-->

	</main>
	<!--main area-->

	
	<!--back_to_top-->
	<div class="back_to_top">
		<ion-icon name="chevron-up-outline"></ion-icon>
	</div>
	<!--back_to_top-->
	
	<!--login popup-->
	<div class="modal-container login">
      <div class="modal-inner" style="height:410px;width:600px;">
        <div class="btn-close">
		<span class="material-symbols-outlined">close</span>
        </div>
						<div class="wrap-login-item " style="border:none;">						
							<div class="login-form form-item form-stl" style="border:none;">
								<form name="frm-login">
									<fieldset class="wrap-title">
										<h3 class="form-title">Log in to your account</h3>										
									</fieldset>
									<fieldset class="wrap-input">
										<label for="frm-login-uname">Email Address</label>
										<input type="text" id="frm-login-uname" name="email">
									</fieldset>
									<fieldset class="wrap-input">
										<label for="frm-login-pass">Password</label>
										<input type="password" id="frm-login-pass" name="pass">
									</fieldset>
									
									<fieldset class="wrap-input">
										<label class="remember-field">
											<input class="frm-input " name="rememberme" id="rememberme" value="forever" type="checkbox"><span>Remember me</span>
										</label>
										<a class="link-function left-position" href="#" title="Forgotten password?">Forgotten password?</a>
									</fieldset>
									<input type="submit" class="btn btn-submit" value="Login" name="submit">
								</form>
							</div>												
						</div>
      </div>
      </div>
    </div>
	<!--login popup-->

	<!--register popup-->
	<div class="modal-container register">
      <div class="modal-inner" style="height:585px;width:600px;">
        <div class="btn-close" style="z-index:99;">
		<span class="material-symbols-outlined">close</span>
        </div>
						
						<div class="wrap-login-item " style="border:none;">
							<div class="register-form form-item " style="border:none;">
								<form class="form-stl" action="#" name="frm-login" method="get" style="border:none;">
									<fieldset class="wrap-title" style="border:none;">
										<h3 class="form-title">Create an account</h3>
										<h4 class="form-subtitle">Personal infomation</h4>
									</fieldset>									
									<fieldset class="wrap-input" style="border:none;">
										<label for="frm-reg-lname">Name*</label>
										<input type="text" id="frm-reg-lname" name="reg-lname">
									</fieldset>
									<fieldset class="wrap-input">
										<label for="frm-reg-email">Email Address*</label>
										<input type="email" id="frm-reg-email" name="reg-email">
									</fieldset>
									<fieldset class="wrap-functions ">
										<label class="remember-field">
											<input name="newletter" id="new-letter" value="forever" type="checkbox"><span>Sign Up for Newsletter</span>
										</label>
									</fieldset>
									<fieldset class="wrap-title">
										<h3 class="form-title">Login Information</h3>
									</fieldset>
									<fieldset class="wrap-input item-width-in-half left-item ">
										<label for="frm-reg-pass">Password *</label>
										<input type="text" id="frm-reg-pass" name="reg-pass">
									</fieldset>
									<fieldset class="wrap-input item-width-in-half ">
										<label for="frm-reg-cfpass">Confirm Password *</label>
										<input type="text" id="frm-reg-cfpass" name="reg-cfpass">
									</fieldset>
									<input type="submit" class="btn btn-sign" value="Register" name="register">
								</form>
							</div>											
						</div>
      </div>
      </div>
    </div>
	<!--register popup-->

	<!--calendar popup-->
	<div class="modal-container calendar">
      <div class="modal-inner" style="height:620px;width:1200px;padding:0;scale:0.95;">
        <div class="btn-close" style="z-index:999;">
		<span class="material-symbols-outlined">close</span>
        </div>
		<div class="wrapper">
        <div class="calendar-area">
            <div class="cal-nav">
                <button class="back">
                    <ion-icon name="arrow-back"></ion-icon>
                </button>9
                <div class="months-nav">
                    <span class="prev">
                        <ion-icon name="chevron-back"></ion-icon>
                    </span>
                    <span class="month">september</span>
                    <span class="next">
                        <ion-icon name="chevron-forward"></ion-icon>
                    </span>
                </div>
            </div>
            <div class="cal-table">
                <table>
                    <tr>
                        <th>sun</th>
                        <th>mon</th>
                        <th>tue</th>
                        <th>wed</th>
                        <th>thu</th>
                        <th>fri</th>
                        <th>sat</th>
                    </tr>
                    <tr>
                        <td class="disabled">30</td>
                        <td class="disabled">31</td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>7</td>
                        <td class="reminder">8</td>
                        <td>9</td>
                        <td>10</td>
                        <td>11</td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>14</td>
                        <td>15</td>
                        <td>16</td>
                        <td>17</td>
                        <td>18</td>
                        <td>19</td>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td class="range"><span>21</span></td>
                        <td class="range-dates">22</td>
                        <td class="range-dates">23</td>
                        <td class="range-dates">24</td>
                        <td class="range"><span>25</span></td>
                        <td>26</td>
                    </tr>
                    <tr>
                        <td>27</td>
                        <td>28</td>
                        <td>29</td>
                        <td>30</td>
                        <td>31</td>
                        <td class="disabled">1</td>
                        <td class="disabled">2</td>
                    </tr>
                    <tr>
                        <td class="disabled">3</td>
                        <td class="disabled">4</td>
                        <td class="disabled">5</td>
                        <td class="disabled">6</td>
                        <td class="disabled">7</td>
                        <td class="disabled">8</td>
                        <td class="disabled">9</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="ticket-area">
            <div class="destination">
                <div class="place">
                    <span class="city"><img src="./png-48/qatar-48x48-33060.png" /></span>
                    <span class="country">france</span>
                </div>

                <div  style="padding-top:10px;">
				<span style="font-family: 'Audiowide', sans-serif;font-size:18px;">Vs<spam>
                </div>


                <div class="place">
                    <span class="city"><img src="./png-48/qatar-48x48-33060.png" /></span>
                    <span class="country">england</span>
                </div>
            </div>

            <div class="ticket-allocation">
                <div class="price-detail">
                    <span class="price">$300</span>
                    <span class="seats-alloted">2 Seats</span>
                </div>
                <div class="edit" style="background-color:transparent;">
				<img src="./assets/images/paypal.svg" />
                </div>
                <div class="flight-date">
                    <span class="f-date">2 Goals</span>
                    <ion-icon name="arrow-forward"></ion-icon>
                    <span class="f-date">1 Goal</span>
                </div>
            </div>

            <div class="exit-area">
                <div class="order-window">
                    <p class="desc">
                        <ion-icon name="alert-circle-outline"></ion-icon>
                        <span>Remaining you should have more than 18 years old</span>
                    </p>
                </div>
                <button class="confirm">Gambling Now</button>
            </div>
        </div>
    </div>				
      </div>
      </div>
    </div>
	<!--calendar popup-->
	
	<!--footer-->
	<footer id="footer">
		<style>footer .item-header{color: #a19f9f !important;}</style>
		<div class="wrap-footer-content footer-style-1">
			<div class="coppy-right-box">
				<div class="container">
					<div class="coppy-right-item item-left">
						<p class="coppy-right-text">Copyright  2020 Surfside Media. All rights reserved</p>
					</div>
					<div class="coppy-right-item item-right">
						<div class="wrap-nav horizontal-nav">
							<ul>
								<li class="menu-item"><a href="about-us.html" class="link-term">About us</a></li>								
								<li class="menu-item"><a href="privacy-policy.html" class="link-term">Privacy Policy</a></li>
								<li class="menu-item"><a href="terms-conditions.html" class="link-term">Terms & Conditions</a></li>
								<li class="menu-item"><a href="return-policy.html" class="link-term">Return Policy</a></li>								
							</ul>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</footer>
    <!--footer-->

</body>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="assets/js/jquery-1.12.4.minb8ff.js?ver=1.12.4"></script>
<script src="assets/js/jquery-ui-1.12.4.minb8ff.js?ver=1.12.4"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.flexslider.js"></script>
<script src="assets/js/chosen.jquery.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/jquery.countdown.min.js"></script>
<script src="assets/js/jquery.sticky.js"></script>
<script src="assets/js/functions.js"></script>
<script src="assets/js/script.js"></script>
<script src="assets/js/search.js"></script>
</html>